h2{background-color: rgb(92, 231, 231);color: rgb(13, 123, 207);display:inline-block ;width: 900px;}
img{width:150px; text-align: right 500px;}
#ab1{width:150px; text-align: right 500px;}
.ab{background-color: rgb(92, 231, 231);color: rgb(13, 123, 207);display:inline-block ; width:900px;}
div{display:inline-block;}
.td{color: rgb(0, 115, 255);}
.tr{color: #0d18e3;}
#a11{width: 145px; height:40%; margin-bottom: 28%;}