*{text-align: center; height:;}
div{text-align: center;}
h1{height:5px;}
h5{height: ;}
hr{border:300%;
width: 900px;}
li{display:inline;text-align: center;
width:400px;
margin: 50px;}
img{width:300px;height:150px;}
p{text-align:center; height: 0px;}
fieldset{border-width: 10px;}